@import "_colores";

/*
************************************************ 
    MIXINS
************************************************
*/

@mixin titulos($font-family, $font-weight) {
  font-family: $font-family;
  font-weight: $font-weight;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-image: url(../img/patternOp2.png);
  background-position: center;
 background-attachment: fixed;
  background-repeat:no-repeat;
}

header{
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #f1f1f1;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 8px;
  transition: .3s ease-in-out;
}

::-webkit-scrollbar-track {
  background:none;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(179, 178, 178);
  height: 10rem;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(49, 49, 47, 0.7);
}
/*
************************************************ 
    MENU DEL SITIO WEB
************************************************
*/
.menu {
  .menu__contenedor {
    padding: 15px;
    .menu__contenedor--navBar {
      background-color: $fondo__navBar;
      padding: 10px;
      ul {
        justify-content: space-around;
        width: 100%;
      }
      a {
        color: $tipografia;
        @include titulos("Montserrat", 400);
        font-size: 15px;
      }
      li:hover a {
        transition: 0.2s all ease;
        background-color: rgba(0, 0, 0, 0.1);
        color: $blancoGeneral;
        font-weight: 600;
      }
    }
    .menu__contenedor--img {
      display: flex;
      justify-content: center;
      width: 50%;
      img {
        width: 55%;
      }
    }
  }
}
/*
************************************************ 
    PAGINA DE INCIO
************************************************
*/
.publicidad {
  .publicidad__contenedor {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    position: relative;
    animation: $fadeIn;
    .publicidad__contenedor--divTitulo {
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      opacity: 0.9;
      padding: 20px 10px;
      position: absolute;
      width: 65%;
      img {
        height: 80%;
        width: 80%;
      }
    }
    .publicidad__contenedor--imgDeFondo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.icocosInicio {
  .iconosInicio__contenedorTitulo {
    padding: 20px 5px;
    h2 {
      @include titulos("Montserrat", 600);
      font-size: 32px;
      text-align: center;
      color: $tipografia;
    }
  }
  .icocosInicio__contenedorImg {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 150px;
      // height: 150px;
      cursor: pointer;
    }
    img:hover {
      transition: 1s all ease;
      transform: translateX(7px);
    }
    .viandas__img {
      width: 170px;
    }
  }
}
.publicidad-instagram {
  .publicidad-instagram__img {
    width: 100%;
  }
}
/*
************************************************ 
    FOOTER
************************************************
*/
.footer {
  margin-top: 5rem;
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f1f1f1;

  .footer__logo {
    width: min(20rem);
    display: flex;
    align-items: center;
    .footer__logo-responsive {
      width: 8rem;
      display: none;
    }
    .footer__logo-png {
      width: 100%;
    }
  }
  .footer__social {
    // width: min(25rem);
    .social__1 {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 1rem 0;
      .social__txt {
        margin-left: 1rem;
        @include titulos("Montserrat", 400);
        font-size: clamp(0.7rem, 2.5vw, 1rem);
        .social__link {
          text-decoration: none;
          color: gray;
          @include titulos("Montserrat", 400);
          &:hover {
            border-bottom: 0.5px solid gray;
          }
        }
      }
    }
  }
  .footer__links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // width: min(25rem);
    .footer__link-1 {
      @include titulos("Montserrat", 400);
      text-decoration: none;
      color: $tipografia;
      width: 60%;
      transition: 0.3s ease-in-out;
      &:hover {
        color: gray;
      }
    }
  }
}

/*
************************************************ 
    ¿ QUIENES SOMOS ?
************************************************
*/

.conocenos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: $fadeIn;
  .conocenos__title {
    @include titulos("Montserrat", 600);
    text-align: center;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    width: 100%;
    color: $tipografia;
    padding: 0 0.5rem;
    .conocenos__secondLine {
      @include titulos("Montserrat", 600);
      display: block;
    }
  }
  .conocenos__img-1 {
    width: 85%;
    margin: 2rem 0;
    overflow: hidden;
    .conocenos__img-jpg {
      width: 100%;
      transition: 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .conocenos__parrafo {
    text-align: center;
    @include titulos("Montserrat", 400);
    font-size: clamp(1rem, 2vw, 1.2rem);
    width: 80%;
    color: $tipografia;
    line-height: 2rem;
    margin: 2rem 0;
    .conocenos__salto {
      display: block;
    }
  }
  .conocenos__subtitle {
    text-align: center;
    font-family: "Montserrat";
    color: $tipografia;
    font-weight: 700;
    color: $tipografia;
  }
}
/*
************************************************ 
    PAGINA DE SERVICIOS
************************************************
*/
.servicios {
  //TEXTO
  animation: $fadeIn;
  .servicios__texto {
    .servicios__texto--div {
      padding: 10px 10px;
      word-break: break-word;
      h2 {
        @include titulos("Montserrat", 600);
        font-size: 32px;
        color: $tipografia;
      }
      p {
        font-size: 16.5px;
      }
      .servicios__link {
        display: block;
        color: gray;
        transition: .2s ease-in-out;
        &:hover {
          color: lightgray;
        }
      }
    }
  }
  .servicios__carousel {
    .carousel {
      width: 75%;
    }
    .carousel-inner {
      .carousel-item {
        height: 300px;
        padding: 2px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
/*
************************************************ 
    CONTACTO
************************************************
*/
.contacto {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation: $fadeIn;
  .contacto__title {
    width: 100%;
    @include titulos('Montserrat', 600);
    text-transform: uppercase;
    color: $tipografia;
    text-align: center;
    letter-spacing: clamp(.5rem, 1vw, 1rem); 
    font-size: clamp(30px, 2.5vw, 3rem);
    margin: 2rem 0;
  }
  .contacto__wsp {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: clamp(1rem, 2.5vw,2rem);
    .contacto__wsp-text {
      margin-top: 1rem;
      margin-left: .5rem;
      .contacto__link {
        text-decoration: none;
        color:rgb(158, 158, 158);
        &:hover {
          border-bottom: 2px solid rgb(157, 157, 157);
        }
      }
    }
  }
  .contacto__img {
    text-align: center;
    .contacto__img-png {
      width: min(50%);
      margin-bottom: 3rem;
    }
  }
  .contacto__icons {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    .contacto__1 {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      color: $tipografia;
      margin-top: 1rem;
      .contacto__descrip {
        width: 100%;
        margin: 2rem 0;
        text-align: center;
        @include titulos('Roboto', 700);
        font-size: clamp(20px, 2.5vw,30px);
        .contacto__salto {
          display: block;
        }
      }
    }
  }
}
/*
************************************************ 
    RESPONSIVE
************************************************
*/
@media only screen and (max-width: 1024px) {
  /* 
    FOOTER 
  */
  .footer {
    .footer__logo, .footer__social, .footer__links {
      width: 100%;
      margin: 1rem 0;
    }
    .footer__logo {
      .footer__logo-png {
        width: 80%;
        margin: 0 auto;
      }
    }
    .footer__social {
      .social__1 {
        margin-top: 1.5rem;
      }
    }
    .footer__links {
      margin: 0;
      .footer__link-1 {
        margin-top: 1.5rem;
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  /* 
    MENU DE NAVEGACION 
  */
  .menu {
    .menu__contenedor {
      .menu__contenedor--navBar {
        background-color: #f1f1f1;
        a {
          padding: 10px 5px;
        }
        li:hover a {
          background-color: $fondo__navBar;
        }
      }
      .menu__contenedor--img {
        img {
          width: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  /*
************************************************ 
    PAGINA DE INCIO
************************************************
*/
  .publicidad {
    .publicidad__contenedor {
      height: 60vh;
      .publicidad__contenedor--divTitulo {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        opacity: 0.9;
        padding: 20px 10px;
        position: absolute;
        width: 65%;
        img {
          height: 80%;
          width: 80%;
        }
      }
      .publicidad__contenedor--imgDeFondo {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  /*
************************************************ 
    PAGINA DE SERVICIOS
************************************************
*/
  .servicios {
    //TEXTO
    .servicios__texto {
      .servicios__texto--div {
        h2,
        p {
          text-align: center;
        }
      }
    }
    .servicios__carousel {
      display: flex;
      justify-content: center;
      .carousel {
        width: 85%;
      }
      .carousel-inner {
        .carousel-item {
          height: 330px;
        }
      }
    }
  }
}
@media only screen and (max-width: 425px) {
      /*
************************************************ 
    PAGINA ¿Quienes somos?
************************************************
*/
.conocenos {
  .conocenos__parrafo {
  text-align: left;
  }
}
        /*
************************************************ 
    PAGINA Contacto
************************************************
*/
.contacto {
  .contacto__img {
    .contacto__img-png {
      width: min(75%);
    }
  }
  .contacto__1 {
    .contacto__svg {
      width: 6rem;
    }
  }
}
}


@media only screen and (max-width: 400px) {
  /* 
  MENU DE NAVEGACION 
*/
  .menu {
    .menu__contenedor {
      .menu__contenedor--img {
        width: 70%;
      }
    }
  }
  /*
************************************************ 
    PAGINA DE INCIO
************************************************
*/
  .publicidad {
    .publicidad__contenedor {
      height: 45vh;
      .publicidad__contenedor--divTitulo {
        width: 75%;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  .icocosInicio {
    .iconosInicio__contenedorTitulo {
      h2 {
        font-size: 25px;
      }
    }
    .icocosInicio__contenedorImg {
      img {
        width: 130px;
        height: 130px;
      }
    }
  }
  /*
************************************************ 
    PAGINA DE SERVICIOS
************************************************
*/
  .servicios {
    //TEXTO
    .servicios__texto {
      .servicios__texto--div {
        h2 {
          font-size: 30px;
        }
        p {
          font-size: 15.5px;
        }
      }
    }
    .servicios__carousel {
      .carousel {
        width: 95%;
      }
      .carousel-inner {
        .carousel-item {
          height: 250px;
        }
      }
    }
  }
}
/*Animacion imágenes*/
@keyframes animate {
  from {
    transition: .3s ease-in-out;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Galeria
/*
.galeria__title {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  margin: 2rem 0;
}

.gallery__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  padding: 30px;
  grid-gap: 30px;
  width: 80%;
  margin: 2rem auto;
  background-color:#C4C4C4;
  .gallery__item {
    &:nth-child(1),&:nth-child(7),&:nth-child(9),&:nth-child(10),&:nth-child(13){
     grid-column-start: span 2;
    }
    &:nth-child(1),&:nth-child(3),&:nth-child(5),&:nth-child(6),&:nth-child(9), &:nth-child(8),&:nth-child(10),&:nth-child(11) {
      grid-row-start: span 2;
     }
    &:nth-child(4),&:nth-child(2) {
      grid-row-start: span 3;
     }
    .gallery__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    } 
  }
}
*/
