* {
  box-sizing: border-box;
}

/* VARIABLES COLORES */
$fondo: #FFFFFF;
$navBar: rgba(167, 207, 59, 0.7);
$seguinosBtn: rgba(238, 29, 35, 0.77);
$tipografia: #000000;

/*
************************************************ 
    MENU DEL SITIO WEB
************************************************
*/
.menu {
  .menu__contenedor {
    // border: 1px solid red;
    .menu__contenedor--img {
    //   border: 1px solid black;
      width: 50%;
      img {
        width: 50%;
      }
    }
  }
}
