* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORES*/

$fondo: #FFFFFF;
$navBar: rgba(167, 207, 59, 0.7);
$seguinosBtn: rgba(238, 29, 35, 0.77);
$tipografia: #000000;

/*
************************************************ 
    MENU DEL SITIO WEB
************************************************
*/
.menu {
  .menu__contenedor {
    // border: 1px solid red;
    .menu__contenedor--img {
    //   border: 1px solid black;
      width: 50%;
      img {
        width: 50%;
      }
    }
  }
}
/*
************************************************ 
    ¿ QUIENES SOMOS ?
************************************************
*/

.conocenos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .conocenos__title {
    font-family: 'Montserrat';
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: $tipografia;
    .conocenos__secondLine {
      display: block;
    }
  }
  .conocenos__img-1 {
    width: 60%;
    margin: 2rem 0;
    overflow: hidden;
    .conocenos__img-jpg {
      width: 100%;
      transition: .3s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .conocenos__parrafo {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.5rem;
    width: 100%;
    color: $tipografia;
    margin: 2rem 0;
    .conocenos__salto {
      display: block;
    }
  }
  .conocenos__subtitle {
    text-align: center;
    font-family: 'Montserrat';
    color: $tipografia;
    font-weight: 700;
    color: $tipografia;
  }
}

