* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* COLORES*/
/*
************************************************ 
    MENU DEL SITIO WEB
************************************************
*/
.menu .menu__contenedor .menu__contenedor--img {
  width: 50%; }
  .menu .menu__contenedor .menu__contenedor--img img {
    width: 50%; }
