@charset "UTF-8";
/* VARIABLES COLORES */
/*
************************************************ 
    MIXINS
************************************************
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto"; }

body {
  background-image: url(../img/patternOp2.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat-x; }

header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #f1f1f1; }

/* Scroll Bar */
::-webkit-scrollbar {
  width: 8px;
  transition: .3s ease-in-out; }

::-webkit-scrollbar-track {
  background: none; }

::-webkit-scrollbar-thumb {
  background-color: #b3b2b2;
  height: 10rem;
  border-radius: 10px; }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(49, 49, 47, 0.7); }

/*
************************************************ 
    MENU DEL SITIO WEB
************************************************
*/
.menu .menu__contenedor {
  padding: 15px; }
  .menu .menu__contenedor .menu__contenedor--navBar {
    background-color: rgba(167, 207, 59, 0.7);
    padding: 10px; }
    .menu .menu__contenedor .menu__contenedor--navBar ul {
      justify-content: space-around;
      width: 100%; }
    .menu .menu__contenedor .menu__contenedor--navBar a {
      color: #000000;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 15px; }
    .menu .menu__contenedor .menu__contenedor--navBar li:hover a {
      transition: 0.2s all ease;
      background-color: rgba(0, 0, 0, 0.1);
      color: #ffffff;
      font-weight: 600; }
  .menu .menu__contenedor .menu__contenedor--img {
    display: flex;
    justify-content: center;
    width: 50%; }
    .menu .menu__contenedor .menu__contenedor--img img {
      width: 55%; }

/*
************************************************ 
    PAGINA DE INCIO
************************************************
*/
.publicidad .publicidad__contenedor {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  position: relative;
  animation: animate 0.9s ease-in-out; }
  .publicidad .publicidad__contenedor .publicidad__contenedor--divTitulo {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    opacity: 0.9;
    padding: 20px 10px;
    position: absolute;
    width: 65%; }
    .publicidad .publicidad__contenedor .publicidad__contenedor--divTitulo img {
      height: 80%;
      width: 80%; }
  .publicidad .publicidad__contenedor .publicidad__contenedor--imgDeFondo {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.icocosInicio .iconosInicio__contenedorTitulo {
  padding: 20px 5px; }
  .icocosInicio .iconosInicio__contenedorTitulo h2 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    color: #000000; }

.icocosInicio .icocosInicio__contenedorImg {
  display: flex;
  justify-content: center;
  align-items: center; }
  .icocosInicio .icocosInicio__contenedorImg img {
    width: 150px;
    cursor: pointer; }
  .icocosInicio .icocosInicio__contenedorImg img:hover {
    transition: 1s all ease;
    transform: translateX(7px); }
  .icocosInicio .icocosInicio__contenedorImg .viandas__img {
    width: 170px; }

.publicidad-instagram .publicidad-instagram__img {
  width: 100%; }

/*
************************************************ 
    FOOTER
************************************************
*/
.footer {
  margin-top: 5rem;
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f1f1f1; }
  .footer .footer__logo {
    width: 20rem;
    display: flex;
    align-items: center; }
    .footer .footer__logo .footer__logo-responsive {
      width: 8rem;
      display: none; }
    .footer .footer__logo .footer__logo-png {
      width: 100%; }
  .footer .footer__social .social__1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem 0; }
    .footer .footer__social .social__1 .social__txt {
      margin-left: 1rem;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: clamp(0.7rem, 2.5vw, 1rem); }
      .footer .footer__social .social__1 .social__txt .social__link {
        text-decoration: none;
        color: gray;
        font-family: "Montserrat";
        font-weight: 400; }
        .footer .footer__social .social__1 .social__txt .social__link:hover {
          border-bottom: 0.5px solid gray; }
  .footer .footer__links {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .footer .footer__links .footer__link-1 {
      font-family: "Montserrat";
      font-weight: 400;
      text-decoration: none;
      color: #000000;
      width: 60%;
      transition: 0.3s ease-in-out; }
      .footer .footer__links .footer__link-1:hover {
        color: gray; }

/*
************************************************ 
    ¿ QUIENES SOMOS ?
************************************************
*/
.conocenos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: animate 0.9s ease-in-out; }
  .conocenos .conocenos__title {
    font-family: "Montserrat";
    font-weight: 600;
    text-align: center;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    width: 100%;
    color: #000000;
    padding: 0 0.5rem; }
    .conocenos .conocenos__title .conocenos__secondLine {
      font-family: "Montserrat";
      font-weight: 600;
      display: block; }
  .conocenos .conocenos__img-1 {
    width: 85%;
    margin: 2rem 0;
    overflow: hidden; }
    .conocenos .conocenos__img-1 .conocenos__img-jpg {
      width: 100%;
      transition: 0.3s ease-in-out; }
      .conocenos .conocenos__img-1 .conocenos__img-jpg:hover {
        transform: scale(1.1); }
  .conocenos .conocenos__parrafo {
    text-align: center;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: clamp(1rem, 2vw, 1.2rem);
    width: 80%;
    color: #000000;
    line-height: 2rem;
    margin: 2rem 0; }
    .conocenos .conocenos__parrafo .conocenos__salto {
      display: block; }
  .conocenos .conocenos__subtitle {
    text-align: center;
    font-family: "Montserrat";
    color: #000000;
    font-weight: 700;
    color: #000000; }

/*
************************************************ 
    PAGINA DE SERVICIOS
************************************************
*/
.servicios {
  animation: animate 0.9s ease-in-out; }
  .servicios .servicios__texto .servicios__texto--div {
    padding: 10px 10px;
    word-break: break-word; }
    .servicios .servicios__texto .servicios__texto--div h2 {
      font-family: "Montserrat";
      font-weight: 600;
      font-size: 32px;
      color: #000000; }
    .servicios .servicios__texto .servicios__texto--div p {
      font-size: 16.5px; }
    .servicios .servicios__texto .servicios__texto--div .servicios__link {
      display: block;
      color: gray;
      transition: .2s ease-in-out; }
      .servicios .servicios__texto .servicios__texto--div .servicios__link:hover {
        color: lightgray; }
  .servicios .servicios__carousel .carousel {
    width: 75%; }
  .servicios .servicios__carousel .carousel-inner .carousel-item {
    height: 300px;
    padding: 2px; }
    .servicios .servicios__carousel .carousel-inner .carousel-item img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .servicios .servicios__carousel .carousel-control-prev-icon,
  .servicios .servicios__carousel .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.3); }

/*
************************************************ 
    CONTACTO
************************************************
*/
.contacto {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation: animate 0.9s ease-in-out; }
  .contacto .contacto__title {
    width: 100%;
    font-family: "Montserrat";
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    letter-spacing: clamp(0.5rem, 1vw, 1rem);
    font-size: clamp(30px, 2.5vw, 3rem);
    margin: 2rem 0; }
  .contacto .contacto__wsp {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: clamp(1rem, 2.5vw, 2rem); }
    .contacto .contacto__wsp .contacto__wsp-text {
      margin-top: 1rem;
      margin-left: .5rem; }
      .contacto .contacto__wsp .contacto__wsp-text .contacto__link {
        text-decoration: none;
        color: #9e9e9e; }
        .contacto .contacto__wsp .contacto__wsp-text .contacto__link:hover {
          border-bottom: 2px solid #9d9d9d; }
  .contacto .contacto__img {
    text-align: center; }
    .contacto .contacto__img .contacto__img-png {
      width: 50%;
      margin-bottom: 3rem; }
  .contacto .contacto__icons {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; }
    .contacto .contacto__icons .contacto__1 {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      color: #000000;
      margin-top: 1rem; }
      .contacto .contacto__icons .contacto__1 .contacto__descrip {
        width: 100%;
        margin: 2rem 0;
        text-align: center;
        font-family: "Roboto";
        font-weight: 700;
        font-size: clamp(20px, 2.5vw, 30px); }
        .contacto .contacto__icons .contacto__1 .contacto__descrip .contacto__salto {
          display: block; }

/*
************************************************ 
    RESPONSIVE
************************************************
*/
@media only screen and (max-width: 1024px) {
  /* 
    FOOTER 
  */
  .footer .footer__logo, .footer .footer__social, .footer .footer__links {
    width: 100%;
    margin: 1rem 0; }
  .footer .footer__logo .footer__logo-png {
    width: 80%;
    margin: 0 auto; }
  .footer .footer__social .social__1 {
    margin-top: 1.5rem; }
  .footer .footer__links {
    margin: 0; }
    .footer .footer__links .footer__link-1 {
      margin-top: 1.5rem; } }

@media only screen and (max-width: 992px) {
  /* 
    MENU DE NAVEGACION 
  */
  .menu .menu__contenedor .menu__contenedor--navBar {
    background-color: #f1f1f1; }
    .menu .menu__contenedor .menu__contenedor--navBar a {
      padding: 10px 5px; }
    .menu .menu__contenedor .menu__contenedor--navBar li:hover a {
      background-color: rgba(167, 207, 59, 0.7); }
  .menu .menu__contenedor .menu__contenedor--img img {
    width: 100%; } }

@media only screen and (max-width: 768px) {
  /*
************************************************ 
    PAGINA DE INCIO
************************************************
*/
  .publicidad .publicidad__contenedor {
    height: 60vh; }
    .publicidad .publicidad__contenedor .publicidad__contenedor--divTitulo {
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      opacity: 0.9;
      padding: 20px 10px;
      position: absolute;
      width: 65%; }
      .publicidad .publicidad__contenedor .publicidad__contenedor--divTitulo img {
        height: 80%;
        width: 80%; }
    .publicidad .publicidad__contenedor .publicidad__contenedor--imgDeFondo {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  /*
************************************************ 
    PAGINA DE SERVICIOS
************************************************
*/
  .servicios .servicios__texto .servicios__texto--div h2,
  .servicios .servicios__texto .servicios__texto--div p {
    text-align: center; }
  .servicios .servicios__carousel {
    display: flex;
    justify-content: center; }
    .servicios .servicios__carousel .carousel {
      width: 85%; }
    .servicios .servicios__carousel .carousel-inner .carousel-item {
      height: 330px; } }

@media only screen and (max-width: 425px) {
  /*
************************************************ 
    PAGINA ¿Quienes somos?
************************************************
*/
  .conocenos .conocenos__parrafo {
    text-align: left; }
  /*
************************************************ 
    PAGINA Contacto
************************************************
*/
  .contacto .contacto__img .contacto__img-png {
    width: 75%; }
  .contacto .contacto__1 .contacto__svg {
    width: 6rem; } }

@media only screen and (max-width: 400px) {
  /* 
  MENU DE NAVEGACION 
*/
  .menu .menu__contenedor .menu__contenedor--img {
    width: 70%; }
  /*
************************************************ 
    PAGINA DE INCIO
************************************************
*/
  .publicidad .publicidad__contenedor {
    height: 45vh; }
    .publicidad .publicidad__contenedor .publicidad__contenedor--divTitulo {
      width: 75%; }
      .publicidad .publicidad__contenedor .publicidad__contenedor--divTitulo img {
        height: 100%;
        width: 100%; }
  .icocosInicio .iconosInicio__contenedorTitulo h2 {
    font-size: 25px; }
  .icocosInicio .icocosInicio__contenedorImg img {
    width: 130px;
    height: 130px; }
  /*
************************************************ 
    PAGINA DE SERVICIOS
************************************************
*/
  .servicios .servicios__texto .servicios__texto--div h2 {
    font-size: 30px; }
  .servicios .servicios__texto .servicios__texto--div p {
    font-size: 15.5px; }
  .servicios .servicios__carousel .carousel {
    width: 95%; }
  .servicios .servicios__carousel .carousel-inner .carousel-item {
    height: 250px; } }

/*Animacion imágenes*/
@keyframes animate {
  from {
    transition: .3s ease-in-out;
    opacity: 0; }
  to {
    opacity: 1; } }

/*
.galeria__title {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  margin: 2rem 0;
}

.gallery__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  padding: 30px;
  grid-gap: 30px;
  width: 80%;
  margin: 2rem auto;
  background-color:#C4C4C4;
  .gallery__item {
    &:nth-child(1),&:nth-child(7),&:nth-child(9),&:nth-child(10),&:nth-child(13){
     grid-column-start: span 2;
    }
    &:nth-child(1),&:nth-child(3),&:nth-child(5),&:nth-child(6),&:nth-child(9), &:nth-child(8),&:nth-child(10),&:nth-child(11) {
      grid-row-start: span 2;
     }
    &:nth-child(4),&:nth-child(2) {
      grid-row-start: span 3;
     }
    .gallery__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    } 
  }
}
*/
